# Virtual environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database
db.sqlite3

# Django static & media
media/
staticfiles/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log